
/*головний блок в якому все розмістив*/
.foto_brand{
	width: 100%!important;
	/*margin: 0!important;*/
 	padding: 0px!important;
 	margin-top: -2rem!important;
 	position: relative;
 	/
     box-sizing: border-box;
}
.del_pad{
    /*убрав із роу падінги*/
    margin-right: 0px;
    margin-left: 0px;
}
.img-responsive {
  	width: 100%;
  	/*margin:0!important;*/
  	padding: 0!important;
}
.white{
	color: white;
}
.we_build_brand{
    color: white;
    /*box-sizing: border-box;*/
    width: 100%;
    position: absolute;
    text-align: center;
    top: 15%;    
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    display: none;
}
.h_text{
    /*box-sizing: border-box;*/
	width: 100%;
    position: absolute;
    text-align: center;
    top: 30%;    
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    display: none;
}
h1{
	font-size: 5rem;   /*заголовок we_build_brand*/
	/*margin-left: 2.5rem;*/
}
/*кнопка */
.btn_radius{
	border-radius: 0px!important; /*зробив квадратним кнопку */
	width: 100%;
    position: absolute;
    text-align: center;
    top: 50%; 
    /*left: 40%;   */
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    display: none;
}
.button_circle {
	/*повністю весь блок*/
	width: 100%;
	/*height: 5rem;*/
	position: absolute;
    text-align: center;
    top: 75%; 
    /*left: 40%;   */
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    display: none;
	
}
.button_but{
	border-radius: 50px!important;
}

}
h1{
	color: white!important;
}