@media screen and (max-width: 992px){
	footer{
		margin-top: 0rem!important;
		height: 10rem;
	}
 .f_copy{
	margin-top: 4rem;
}
/*.up_to{
	width: 3rem;
	height: 3rem;
	background-color: green;
	margin-top: 4rem;
      }
}*/